/* copilot-dark */
$blue-1: #00223B;
$blue-1-a: #17364D;
$blue-2: #00395E;
$blue-3: #005082;
$blue-4: #0069A6;
$blue-5: #0083C9;
$blue-6: #009FEE;
$blue-7: #29B3F2;
$blue-8: #54C6F7;
$blue-9: #81D9FC;
$blue-10:#ADE9FF;

$blue-gray-1: #111B38;
$blue-gray-2: #162347;
$blue-gray-3: #1B2C57;
$blue-gray-4: #203566;
$blue-gray-5: #243E75;
$blue-gray-6: #294885;
$blue-gray-7: #44649E;
$blue-gray-8: #6583B8;
$blue-gray-9: #8CA7D1;
$blue-gray-10: #B9CDEB;

$cyan-1: #082629;
$cyan-2: #0E4145;
$cyan-3: #135D61;
$cyan-4: #197A7D;
$cyan-5: #1F9799;
$cyan-6: #24B5B5;
$cyan-7: #43C4C2;
$cyan-8: #66D4D0;
$cyan-9: #8DE3DF;
$cyan-10: #B8F2EE;

$green-1: #153020;
$green-2: #224D31;
$green-3: #2E6942;
$green-4: #3A8553;
$green-5: #47A163;
$green-6: #53BD73;
$green-7: #6ECC89;
$green-8: #8CDBA1;
$green-9: #AEEBBD;
$green-10: #D2FADB;

$lime-1: #1F3309;
$lime-2: #324F0E;
$lime-3: #456B13;
$lime-4: #598718;
$lime-5: #6EA31D;
$lime-6: #83BF22;
$lime-7: #9BCF42;
$lime-8: #B4DE66;
$lime-9: #CEED8E;
$lime-10: #E8FCBB;

$yellow-1: #423104;
$yellow-2: #664C06;
$yellow-3: #8A6908;
$yellow-4: #AD870A;
$yellow-5: #D1A70D;
$yellow-6: #F5C70F;
$yellow-7: #F7D436;
$yellow-8: #FAE05F;
$yellow-9: #FCEB88;
$yellow-10: #FFF5B3;

$orange-1: #3D1D06;
$orange-2: #612F09;
$orange-3: #85420C;
$orange-4: #A8570F;
$orange-5: #CC6C12;
$orange-6: #F08316;
$orange-7: #F59C3D;
$orange-8: #FAB566;
$orange-9: #FFCE91;
$orange-10: #FFE1BA;

$red-1: #421518;
$red-2: #662024;
$red-3: #8A2B2F;
$red-4: #AD363A;
$red-5: #D14143;
$red-6: #F54C4C;
$red-7: #F76D6A;
$red-8: #FA8D89;
$red-9: #FCADA9;
$red-10: #FFCDC9;

$magenta-1: #40162E;
$magenta-2: #612145;
$magenta-3: #822C5B;
$magenta-4: #A33771;
$magenta-5: #C44386;
$magenta-6: #E54E9A;
$magenta-7: #ED6DAB;
$magenta-8: #F58EBE;
$magenta-9: #FCB1D3;
$magenta-10: #FFD1E5;

$purple-1: #25173D;
$purple-2: #3C2461;
$purple-3: #543185;
$purple-4: #6C3EA8;
$purple-5: #854BCC;
$purple-6: #9F59F0;
$purple-7: #B376F5;
$purple-8: #C793FA;
$purple-9: #DAB3FF;
$purple-10: #E8CFFF;

$navy-1: #16173D;
$navy-2: #22255E;
$navy-3: #2E3380;
$navy-4: #3A42A1;
$navy-5: #4652C2;
$navy-6: #5162E2;
$navy-7: #6E7FEB;
$navy-8: #8D9CF2;
$navy-9: #ACB9FA;
$navy-10: #CCD5FF;

$gray-1: #0B152E;
$gray-2: #0C1D40;
$gray-3: #08264D;
$gray-4: #13325E;
$gray-5: #1E3D69;
$gray-6: #31517A;
$gray-7: #57779C;
$gray-8: #7D95B8;
$gray-9: #D3DCEB;
$gray-10: #EAEDF2;

/* 线型色 */
$line-blue: $blue-6;
$line-green: $green-5;
$line-yellow: $yellow-6;
$line-red: $red-6;
$line-cyan: $cyan-5;
$line-purple: $purple-6;
$line-orange: $orange-6;
$line-navy: $navy-6;
$line-lime: $lime-5;
$line-magenta: $magenta-6;

/* 面型色 */
$surf-blue: $blue-5;
$surf-green: $green-4;
$surf-yellow: $yellow-5;
$surf-red: $red-5;
$surf-cyan: $cyan-4;
$surf-purple: $purple-4;
$surf-orange: $orange-5;
$surf-navy: $navy-5;
$surf-lime: $lime-4;
$surf-magenta: $magenta-5;

/* 面透明（基本用于hover） */
$surf-tp-blue: $blue-1;
$surf-tp-green: $green-1;
$surf-tp-yellow: $yellow-1;
$surf-tp-red: $red-1;
$surf-tp-cyan: $cyan-1;
$surf-tp-purple: $purple-1;
$surf-tp-orange: $orange-1;
$surf-tp-navy: $navy-1;
$surf-tp-lime: $lime-1;
$surf-tp-magenta: $magenta-1;

/* 功能色-基础 */
$status-primary: $blue-6;
$status-success: $green-6;
$status-warning: $yellow-6;
$status-danger: $orange-6;
$status-error: $red-6;

/* ******************************************************************* */

/* 功能色-primary */
/*@public*/ $primary-default: $blue-6;
/*@public*/ $primary-hover: $blue-7;
/*@public*/ $primary-active: $blue-8;
/*@public*/ $primary-disabled: $blue-3;
/*@public*/ $primary-lighten: $blue-1;

/* 功能色-success */
/*@public*/ $success-default: $green-6;
/*@public*/ $success-hover: $green-7;
/*@public*/ $success-active: $green-8;
/*@public*/ $success-disabled: $green-3;
/*@public*/ $success-lighten: $green-1;

/* 功能色-warning */
/*@public*/ $warning-default: $yellow-6;
/*@public*/ $warning-hover: $yellow-7;
/*@public*/ $warning-active: $yellow-8;
/*@public*/ $warning-disabled: $yellow-3;
/*@public*/ $warning-lighten: $yellow-1;

/* 功能色-error */
/*@public*/ $error-default: $red-6;
/*@public*/ $error-hover: $red-7;
/*@public*/ $error-active: $red-8;
/*@public*/ $error-disabled: $red-3;
/*@public*/ $error-lighten: $red-1;

/* 功能色-danger */
/*@public*/ $danger-default: $orange-6;
/*@public*/ $danger-hover: $orange-7;
/*@public*/ $danger-active: $orange-8;
/*@public*/ $danger-disabled: $orange-3;
/*@public*/ $danger-lighten: $orange-1;

/* 功能色-process */
/*@public*/ $process-default: $navy-6;
/*@public*/ $process-hover: $navy-7;
/*@public*/ $process-active: $navy-8;
/*@public*/ $process-disabled: $navy-3;
/*@public*/ $process-lighten: $navy-1;

/* brand 品牌色 */
/*@public*/ $brand-default: $blue-6;
/*@public*/ $brand-hover: $blue-7;
/*@public*/ $brand-active: $blue-8;
/*@public*/ $brand-disabled: $blue-3;
/*@public*/ $brand-lighten: $blue-1;
/*@public*/ $brand-active-lighten: $blue-2;

/* background 背景色 */
/*@public*/ $bg-body: $gray-1;
/*@public*/ $bg-app: #12131C;
/*@public*/ $bg-container: $gray-3;
/*@public*/ $bg-component: $gray-3;
/*@public*/ $bg-component-darken: $gray-4;
/*@public*/ $bg-disabled: $blue-3;
/*@public*/ $bg-hover: $blue-1;
/*@public*/ $bg-active: $blue-1-a;
$bg-transparent: transparent;
/*@public*/ $bg-popup: $gray-3;
/*@public*/ $bg-gray: $gray-3;
$bg-gray-spec: $gray-9;
/*@public*/ $bg-scrollbar: $gray-5;
/*@public*/ $bg-scrollbar-lighten: $gray-7;
/*@public*/ $bg-tag: $gray-4;

/* font 字体颜色 */
/*@public*/ $font-color-default: $gray-9;
/*@public*/ $font-color-disabled: $gray-6;
/*@public*/ $font-color-heading: $gray-9;
/*@public*/ $font-color-disabled-spec: $gray-7;
/*@public*/ $font-color-hint: $gray-7;
$font-color-watermark: $gray-7;
$font-color-heading-bold: $gray-9;
$font-color-heading-bold-lighten: hsl(0, 0%, 100%);
/*@public*/ $font-color-tag: $gray-8;
/*@public*/ $font-color-white: hsl(0, 0%, 100%);
/*@public*/ $font-color-black: hsl(0, 0%, 0%);
$font-color-white-darken: $gray-6;
/*@public*/ $font-color-brand: #bfbfbf;
/*@public*/ $font-color-brand-hover: hsl(0, 0%, 100%);

/* border 边框 */
/*@public*/ $border-color-default: $gray-5;
/*@public*/ $border-color-disabled: $gray-3;
$border-color-popup: $gray-5;
$border-color-shadow-cntr: $gray-5;

/* split line 分割线 */
/*@public*/ $splitline-default: $gray-4;

/* icon 图标 */
/*@public*/ $icon-color-default: $gray-8;
/*@public*/ $icon-color-disabled: $gray-6;
/*@public*/ $icon-color-stress: $gray-10;
$icon-color-inactive: $gray-4;

/* box-shadow 阴影（基于altitude）*/
/*@public*/ $box-shadow-lv0: none;
/*@public*/ $box-shadow-lv1: 0px 1px 2px hsla(0, 0%, 0%, 0.55);
/*@public*/ $box-shadow-lv2: 0px 2px 8px hsla(0, 0%, 0%, 0.3);
/*@public*/ $box-shadow-lv3: 0px 5px 12px hsla(0, 0%, 0%, 0.3);

/* 导航色 */
/*@public*/ $nav-header: $gray-2;
/*@public*/ $nav-navigation: $gray-2;
/*@public*/ $nav-navigation-darken: $gray-3;
/*@public*/ $nav-hover: $gray-5;
/*@public*/ $nav-active: $gray-4;
$nav-color: $font-color-default;
$nav-color-disabled: $font-color-disabled;
$nav-color-active: $brand-default;
$nav-border: $border-color-default;

/* 蒙版色 */
/*@public*/ $mask-default: rgba(#fff, 0.6);
/*@public*/ $mask-lighten: rgba(255, 255, 255, 0.1);
