<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<ul class="demo-options">
    <li class="demo-options-item">
        <span>富文本：</span>
        <jigsaw-switch [(checked)]="enableHtml"></jigsaw-switch>
    </li>
    <li class="demo-options-item">
        <span>类型：</span>
        <jigsaw-button-bar [(selectedItems)]="type" [data]="types" [multipleSelect]="false" optionWidth=80
            trackItemBy="value">
        </jigsaw-button-bar>
    </li>
    <li class="demo-options-item">
        <span>延迟：</span>
        <jigsaw-numeric-input [(value)]="timeout" step="1000" min="0" subfix="ms"></jigsaw-numeric-input>
    </li>
    <li class="demo-options-item">
        <span>消息：</span>
        <jigsaw-textarea width="400" height="100" [(value)]="message"></jigsaw-textarea>
    </li>
    <li class="demo-options-item">
        <span>动作：</span>
        <jigsaw-button colorType="primary" (click)="show()">show</jigsaw-button>
    </li>
</ul>

<ul class="demo-cntr">
    <li>
        <div #container1
            [perfectScrollbar]="{suppressScrollX: true, wheelSpeed: 0.5, minScrollbarLength: 20, wheelPropagation: false}">
        </div>
    </li>
</ul>