.wrap {
    padding-bottom: 20px;
}

.wrap .block {
    width: 500px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loading-demo-item {
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;

    >.jigsaw-circle-loading-host {
        margin-right: 80px;
    }
}