<!-- ignore the following lines, they are not important to this demo -->
<jigsaw-demo-description [summary]="summary" [content]="description">
</jigsaw-demo-description>

<!-- start to learn the demo from here -->
<jigsaw-header>基础</jigsaw-header>
<jigsaw-input id="test-input" [(value)]="inputValue" placeholder="basic demo">
</jigsaw-input>
输入值是：<span id="bind-property">{{inputValue}}</span>
<jigsaw-header>设置最大输入字符</jigsaw-header>
<jigsaw-input id="test-input" [(value)]="inputValue1" placeholder="basic demo" [maxLength]="maxLength">
</jigsaw-input>
<j-numeric-input [(value)]="maxLength" min="0" placeholder="请输入数字"></j-numeric-input>