$jigsaw-system-prompt: #{$jigsaw-prefix}-system-prompt;

.#{$jigsaw-system-prompt}-host {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    padding: 0 20px 0 16px;
    margin-bottom: 2px;
    border-radius: 3px;

    .system-prompt-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .system-prompt-icon {
        flex-shrink: 0;
        width: 24px;
        font-size: 18px;
    }

    .system-prompt-remove {
        position: absolute;
        right: 8px;
        font-size: 14px;
        cursor: pointer;
    }

    &.jigsaw-system-prompt-error {
        background: $error-lighten;
        border: 1px solid $red-3;

        .system-prompt-icon {
            color: $error-default;
        }
    }

    &.jigsaw-system-prompt-info {
        background: $brand-lighten;
        border: 1px solid $blue-3;

        .system-prompt-icon {
            color: $brand-default;
        }
    }

    &.jigsaw-system-prompt-warning {
        background: $warning-lighten;
        border: 1px solid $yellow-3;

        .system-prompt-icon {
            color: $warning-default;
        }
    }

    &.jigsaw-system-prompt-success {
        background: $success-lighten;
        border: 1px solid $green-3;

        .system-prompt-icon {
            color: $success-default;
        }
    }

    &.jigsaw-system-prompt-custom {
        padding: unset;
    }
}